DB_CONNECTION=postgresql://username:password@localhost:5432/url_shortener

TEST_DB_CONNECTION=postgresql://username:password@localhost:5432/url_shortener_test

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

REDIS_HOST=localhost
REDIS_PORT=6379