DB_CONNECTION=YOUR_NEON_CONNECTION_STRING

SECRET_KEY=GENERATE_A_NEW_SECRET

ALGORITHM=HS256

TEST_DB_CONNECTION=YOUR_TEST_DATABASE_CONNECTION

EXPIRATION_TIME=30

REDIS_HOST=YOUR_UPSTASH_REDIS_HOST
REDIS_PORT=6379
REDIS_PASSWORD=YOUR_UPSTASH_REDIS_PASSWORD

CORS_ORIGINS=*